# Private
Aler
iVidya
Oratorz
Company\ Website
Work

# Flutter
# Miscellaneous
*.class
*.log
*.pyc
*.swp

# Files
.DS_Store
.buildlog/
.history
.svn/
.gradle/
build/

# IntelliJ
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Android
gradle-wrapper.jar
.gradle
captures/
gradlew
gradlew.bat
local.properties
GeneratedPluginRegistrant.java
key.properties

# Web
generated_plugin_registrant.dart

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Exceptions
!packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Firebase
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

.firebase/

*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
